body{
    background-color: blueviolet;
}

body{
    background-color: rgba(34, 34, 153, 0.856);
    color:rgb(40, 49, 104)
}
.cabecalho{
    background-color: rgb(8, 7, 56);
    text-align: center;
    padding: 40px;
    font-family: "Rufina", serif;
    font-size: 50xp;
}
img{
    width: 220px;
    height:220px
}

main{
    color: rgb(65, 40, 9);
    max-width: 800px;
    margin:0 auto;
    padding: 16x;
}
article{
    display: flex;
    background-color: beige;
    align-items: center;
    padding: 24px;
}
button{
    background-color: aliceblue;
color: cornflowerblue;
padding: 32px;
border-radius: 20px;
}    